.background{
    background: linear-gradient(to right, gray,dimgray,black);
}
.nav-item .active{
    border-bottom:2px solid white ;
}

.dropdown .active{
    border: none;
    
}

.card-title{
    font-size: 1rem;
}

.source-date{
    display: flex;
    justify-content: space-between;
}
.source-date p{
    font-size: 0.7rem;
}

.card-text{
    font-size: 0.9rem;
    height:230px;
}

@media only screen and (min-width:0) and (max-width:575px){
    .card-title{
        height: 40px;
    }   
    .card-text{
        height: 80px;
    }
}


@media only screen and (min-width:576px) and (max-width:767px){
    .card-title{
        height: 70px;
    }   
    .card-text{
        height: 150px;
    }
}


@media only screen and (min-width:768px) and (max-width:1199px){
    .card-title{
        height: 80px;
    }   
    .card-text{
        height: 190px;
    }
}


